<div class="o-section-block">
 <ul class="c-widget-accordion" data-accordion="" data-allow-all-closed="true">
   <li class="c-widget-accordion-item is-active" data-accordion-item="">
     <a href="#" class="c-widget-accordion-link">
       <span class="c-widget-accordion__title">Obsah</span>
       <span class="c-widget-accordion__icon c-widget-accordion__icon c-widget-accordion__icon--bottom" aria-hidden="true">
         <i class="fa fa-list fa-lg"></i>
       </span>
     </a>
     <div class="c-widget-accordion-content" data-tab-content="">
       <div class="c-widget-accordion-content-inner">        
         <ul class="c-widget-accordion-list">
           <li><a href="#transparentní-radnice">Transparentní radnice</a></li>
           <li><a href="#komunikující-a-spolupracující-radnice">Komunikující a spolupracující radnice</a></li>
           <li><a href="#odpovědné-hospodaření">Odpovědné hospodaření</a></li>
           <li><a href="#podpora-podnikání-a-zaměstnanosti">Podpora podnikání a zaměstnanosti</a></li>
           <li><a href="#kvalita-života-ve-městě">Kvalita života ve městě</a></li>
           <li><a href="#životní-prostředí">Životní prostředí</a></li>
           <li><a href="#bezpečnost">Bezpečnost</a></li>
           <li><a href="#školství-a-podpora-rodin-s-dětmi">Školství a podpora rodin s dětmi</a></li>
           <li><a href="#kultura-a-sport">Kultura a sport</a></li>
           <li><a href="#doprava">Doprava</a></li>
           <li><a href="#cyklodoprava">Cyklodoprava</a></li>
           <li><a href="#cestovní-ruch">Cestovní ruch</a></li>
         </ul>
       </div>
     </div>
   </li>
 </ul>
</div>
