<footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
    <div class="row">
      <div class="small-12 columns">
        <p class="u-0margin u-noWrap u-smaller-line-height show-for-large">
          <span class="u-mirror-horizontally">&copy;</span> Piráti, 2018. Všechna práva vyhlazena. Sdílejte a nechte ostatní sdílet za stejných podmínek.
      </div>
    </div>
</footer>
<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Média </div>
            <div class="c-contact-bar__description"> Vladimír Charvát,
              <a href="mailto:vladimir.charvat@pirati.cz">vladimir.charvat@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Dobrovolnici </div>
            <div class="c-contact-bar__description"> Bára Přibylová,
              <a href="mailto:barbora.pribylova@pirati.cz">barbora.pribylova@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
